<header class="header-site" role="banner">
    <div class="content">

        <div class="person">
            <img alt="My photo" src="{{site.profile_picture}}">
        </div>

        <h1>
            <span class="site-title">[{{site.username}}]</span>
        </h1>

        <div class="icons-home">
            <a aria-label="Send email" title="Send me a e-mail" href="mailto:{{site.email}}">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
            </a>

            <a aria-label="My Twitter" title="Follow me on Twitter" target="_blank" href="https://twitter.com/{{site.twitter_username}}">
                <svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg>
            </a>

            <a aria-label="My Telegram" title="Text me on Telegram" target="_blank" href="https://t.me/{{site.telegram_username}}">
                <img class="icon" src="/assets/img/telegram.svg"></use>
            </a>

            <a aria-label="My Mastodon" title="Follow me on Mastodon" target="_blank" href="https://{{site.mastodon_domain}}/@{{site.mastodon_username}}">
                <img class="icon" src="/assets/img/mastodon.svg"></use>
            </a>

            <a aria-label="My Matrix" title="Text me on Matrix" target="_blank" href="https://matrix.to/#/@{{site.matrix_username}}:{{site.matrix_domain}}">
                <img class="icon" src="/assets/img/matrix.png"></use>
            </a>

            <a aria-label="My Keybase" title="Follow me on Keybase" target="_blank" href="https://keybase.io/{{site.keybase_username}}">
                <img class="icon" src="/assets/img/keybase.svg"></use>
            </a>

            <a aria-label="My Github" title="Show my projects" target="_blank" href="https://github.com/{{site.github_username}}">
                <svg class="icon icon-github-alt"><use xlink:href="#icon-github-alt"></use></svg>
            </a>

            <a aria-label="My LinkedIn" title="Show my linkedin profile" target="_blank" href="https://www.linkedin.com/in/{{site.linkedin_public_url}}">
                <svg class="icon icon-linkedin"><use xlink:href="#icon-linkedin"></use></svg>
            </a>
        </div>
        
        <div class="header-site recent">
        <h2>Who?</h2>
		<p>Founder of <a target="_blank" href="https://parrotlinux.org">Parrot OS</a>.</p>
		<p><a target="_blank" href="https://salsa.debian.org/palinuro-guest">Debian</a> and <a target="_blank" href="https://git.devuan.org/palinuro">Devuan</a> Lover (and occasional contributor).</p>
		<p>Gopher and Pythonist.</p>
		<p>Sysadmin, Pentester and ICT Security consultant.</p>
		<p>Great supporter of RFC2549.</p>

		<h2>GPG</h2>
		<h4><a target="_blank" href="https://mirror.parrot.sh/misc/palinuro.gpg">Download Key</a></h4>
		</div>

    </div>

    {% include menu-search.html %}
</header>
